name: Build .NET 10 MAUI Android

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Install MAUI workload
        run: dotnet workload install maui

      - name: Restore project
        run: dotnet restore Maui/MiniProjects/MauiCICDDemo/MauiCICDDemo.csproj

      - name: Build Android
        run: dotnet build Maui/MiniProjects/MauiCICDDemo/MauiCICDDemo.csproj -f net10.0-android --no-restore -c Release